{% extends "base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <form method="post">
        {% csrf_token %}

        <label for="password1" class="form-label">New Password</label>
        <input type="password" name="password1" class="form-control" id="password1" required>

        <label for="password2" class="form-label mt-3">Confirm New Password</label>
        <input type="password" name="password2" class="form-control" id="password2" required>

        <button type="submit" class="btn custom-btn w-100 mt-3">
            Reset Password
        </button>
    </form>
</div>
{% endblock %}