.card {
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: thin solid #000000;
    padding: 10px;
    margin-left: auto;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}