{% extends "base.html" %}
{% load static %}

{% block extra_title %}{% endblock %}

{% block content %}
    <div class="container">
        <div>
            {% if user.is_authenticated and not user.userprofile.is_premium %}
                <div class="alert alert-info text-center" role="alert">
                    Upgrade to <strong>Premium</strong> to access more questions and get access to performance tracking!
                    <a href="{% url 'upgrade' %}" class="btn btn-sm btn-primary ml-3">Upgrade Now</a>
                </div>
            {% endif %}
        </div>
        <div class="stats-bar">
            <div class="stat">
                <span class="stat-icon"></span>
                <span class="stat-value">{{ user.userprofile.points }}</span>
                <span class="stat-label">XP</span>
                </div>
                
                <div class="stat">
                    <span class="stat-icon"></span>
                    <span class="stat-value">{{ user.userprofile.level }}</span>
                    <span class="stat-label">Level</span>
                </div>
                
                <div class="stat">
                    <span class="stat-icon"></span>
                    <span class="stat-value">{{ user.userprofile.streak }}</span>
                    <span class="stat-label">Day Streak</span>
                </div>
            </div>
        <h1 class="logo-font text-center my-5">Questions</h1>
        <div class="row">
            {% for question in questions %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="question-card h-100">
                        {% if question.id not in answered_questions %}
                            <button type="button" class="btn btn-link p-0 text-left w-100" data-bs-toggle="modal" data-bs-target="#questionModal{{ question.id }}">
                        {% else %}
                            <button type="button" class="btn btn-link p-0 text-left w-100" disabled>
                        {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ question.question_text }}</h5>
                                <span class="difficulty {{ question.get_difficulty_display|lower }}">{{ question.get_difficulty_display }}</span>
                                <div class="points mt-2">Points: {{ question.points }}</div>
                                {% if question.is_premium %}
                                    <p class="premium_label"><i class="fa-solid fa-star"></i></p>
                                {% endif %}
                            </div>
                        </button>
                    </div>
                </div>
                {% include "quiz/modal.html" with question=question answered_questions=answered_questions %}
            {% endfor %}
        </div>
        {% include "quiz/limit_modal.html" %}
    </div>
    
{% endblock %}