{% extends "base.html" %}
{% load static %}

{% block extra_title %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="logo-font text-center my-5">Questions</h1>
    </div>
    <div class="container text-center">
        {% for question in questions %}
            <div class="card w-75 mb-3 row mx-auto">
                <div class="card-body">
                    <h5 class="card-title">{{ question.question_text }}</h5>
                    <p class="card-text">Difficulty: {{ question.get_difficulty_display }}</p>
                    <p class="card-text">Points: {{ question.points }}</p>
                    {% if question.is_premium %}
                        <p class="card-text text-danger">Premium Question</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}