<div class="modal fade" id="questionModal{{ question.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ question.question_text }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form class="quiz-form" data-url="{% url 'submit_answer' question.id %}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" value="A" required>
                        <label class="form-check-label">{{ question.choice_1 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" value="B">
                        <label class="form-check-label">{{ question.choice_2 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" value="C">
                        <label class="form-check-label">{{ question.choice_3 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" value="D">
                        <label class="form-check-label">{{ question.choice_4 }}</label>
                    </div>
                    <div class="mt-3 text-end">
                        <button type="submit" class="btn btn-primary">Submit Answer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>