{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Delete Account{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="logo-font text-center my-5">Deleting Account</h2>
        </div>
        <h3 class="text-center">Are you sure you want to delete your account?</h3>
         <p class="text-center">This action cannot be undone. All your data will be permanently deleted.</p>

        <div class="text-center">
            <form method="post" action="{% url 'delete_account' %}">
                {% csrf_token %}
                <button type="submit" class="btn solve-btn">Confirm</button>
                <a class="btn solve-btn" href="{% url 'profile' %}">Cancel</a>
            </form>
        </div>
{% endblock %}