{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Edit Profile{% endblock %}

{% block content %}
<div class="container profile-container">
    <h1 class="logo-font text-center my-5">Edit Profile</h1>
    <!-- Edit profile form would go here -->
    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}