{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Edit Profile{% endblock %}

{% block content %}
<div class="container profile-container my-5">
    <h1 class="logo-font text-center my-5">Edit Profile</h1>

    <!-- Edit profile form would go here -->

    <form class="form" method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
        </div>
        <div class="profile-row">
            <div>
                <button type="submit" class="btn solve-btn">Save Changes</button>
            </div>
            <div>
                <a href="{% url 'change_password' %}" class="btn solve-btn">Change Password</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}