{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Change Password{% endblock %}

{% block content %}
<div class="container profile-container my-5">
    <h2 class="logo-font text-center my-5">Change Password</h2>

    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">Current Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password" required>
        </div>
        <div class="form-group">
            <label for="new_password1">New Password</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1" required> 
        </div>
        <div class="form-group">
            <label for="new_password2">Confirm New Password</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2" required>
        </div>
        <button type="submit" class="btn solve-btn">Change Password</button>
    </form>
</div>
{% endblock %}