{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Upgrade to Premium{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="logo-font text-center my-5">Upgrade to Premium</h1>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 mb-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h3 class="card-title">Monthly Plan</h3>
                        <p class="card-text">Unlock all questions, access performance tracking, and get priority support.</p>
                        <h4 class="card-text">$9.99/month</h4>
                        <a href="#" class="btn btn-primary mt-3">Upgrade Now</a>
                    </div>
                </div>
            </div> 
            <div class="col-sm-12 col-md-8 col-lg-6 mb-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h3 class="card-title">Annual Plan</h3>
                        <p class="card-text">Unlock all questions, access performance tracking, and get priority support.</p>
                        <h4 class="card-text">$99.99/year</h4>
                        <a href="#" class="btn btn-primary mt-3">Upgrade Now</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}